body{
    background-color: rgb(240, 52, 39)
}
.pic-section{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.skill-items{
    display:grid;
    grid-template-columns: repeat(2,1fr) ;
}


